*{
    margin: 0;
    padding: 0;
}

/* 메뉴 네비게이션 스타일 */


#menu_none{
    display: flex;
    flex-direction: column;
    position: absolute;
}

#menu_none:hover a{
    display: block;
}

#menu_none a{
    display: none;
}
#menu_hover:hover ~ #menu_none a{
    display: block;
}

/* 헤더 스타일 */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px; 
    padding: 5px;
    background-color: white;
    z-index: 50;
    font-size: 20px;
    height: 120px;
}

header img{
    width: 100px;
}

#head_nav{
    display: flex;
    min-height: 30px;
}

#head_nav a{
    text-decoration-line: none;
    color: black;
    margin: 0 8px;
}

#login span{
    margin: 0 5px;
}

#head_nav a:hover{
    font-weight: 600;
}
/* 비주얼 스타일 */

#visual{
    margin-top: 20px;
    margin-bottom: 40px;
}
    #visual ul,li{
    list-style: none;
}

/* 슬라이드 */
[name="slide"] {
    display: none;
}

#slidebox {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#slidebox img{
    max-width: 100%;
}

#slidebox #slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

#slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 0.35s;
}

#slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left{
    left: 20px;
    background-color: #5f5f5f;
    background-image: url(./img/image\ copy.png);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

label.right{
    right: 20px;
    background-color: #5f5f5f;
    background-image: url(./img/image.png);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
}

#slide01:checked ~ #slidelist .slideitem{
    transform: translateX(0);
    animation: slide01 8s infinite linear;
}
[id="slide02"]:checked ~ #slidelist .slideitem{
    transform: translateX(-100%);
    animation: slide02 8s infinite linear
}
[id="slide03"]:checked ~ #slidelist .slideitem{
    transform: translateX(-200%);
    animation: slide03 8s infinite linear;
}


@keyframes slide01 {
    0%,31%,100%{
        left: 0%;
    }    
    33%,64%{
        left: -100%;
    }
    66%,97%{
        left: -200%;
    }
}
@keyframes slide02 {
    0%,31%,100%{
        left: 0%;
    }    
    33%,64%{
        left: -100%;
    }
    66%,97%{
        left: 100%;
    }
}
@keyframes slide03 {
    0%,31%,100%{
        left: 0%;
    }    
    33%,64%{
        left: 200%;
    }
    66%,97%{
        left: 100%;
    }
}

#slidebox{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.slideitem img{
    width: 100%;
    height: 500px;
}

#slidelist:hover .slideitem{
    animation-play-state: paused;
    /* transform: translateX(0); */
}

/* 콘텐츠 영역 스타일 */
#content{
    text-align: center;
}

#category_text hr , #notive_text hr{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#category_text h1 , #notive_text {
    margin-bottom: 20px;
}

.content_categorys{
    display: flex;
    flex-direction: column;
    width: 26%;
    height: 50%;
    margin: 20px 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.content_categorys img{
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    
}

#health_food , #digital , #Fancy , #Perfume , #hair_care{ 
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.content_text_box{
    height: 30%;
    min-height: 230px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content_Product_name > hr{
    width: 95%;
    margin: 0 auto;
}

.opacity_text{
    text-decoration: line-through;
    opacity: 0.5;
}

/* 공지사항 스타일 */
#notice_radio{
    margin-bottom: 50px;
}

#notice_slide{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}


.notice_title{
    text-align: left;
}

#notice_slide_ul > li > a{
    display: flex;
    justify-content: space-around;

}

#notice_slide_ul{
    white-space: nowrap;
}

#notice_slide_ul > li{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all 1s;
}

#notice_slide_ul > li > a{
    /* display: block; */
    position: relative;
    /* width: 100%; */
}

#notice_slide_ul label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.radio_left{
    left: 30px;
    background: url(./image\ copy.png) center center / 50% no-repeat; 
}
.radio_right{
    right: 30px;
    background: url(./image.png) center center / 50% no-repeat; 
}

/* 상품입점/제휴문의 스타일 */
#alliance_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

}

#alliance_text span{
    font-size: 20px;
}


#alliance_text > hr{
    width: 50%;
    margin: 20px 0;
    
}

#alliance_main_text_box_h2{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#alliance_main_text_box_h2 hr{
    width: 60%;
    
}

#alliance_main_text_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#alliance_main_text_box tbody{
    text-align: center;
    align-items: center;
}

.alliance_main_text span{
    border: 1px solid;
}


.alliance_main_text th{
    border: solid 1px black;
    width: 30%;
    height: 54px;
    background-color: rgb(255, 242, 225);
}

.alliance_main_text td{
    border: solid 1px black;
    height: 54px;
    width: 70%;
    background-color: rgb(254, 248, 240);
}

.alliance_main_text{
    margin: 0 30px;
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    align-items: center;
    font-size: 20px;
}

#alliance{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.alliance_main{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 15%;
    height: 300px;
    border-radius: 5%;
}

#alliance img{ 
    width: 200px;
}

/* 푸터 영역 스타일 */
#footer_footer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


footer hr{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

}
#footer_head{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer_head span{
    margin: 0 20px;
}

#footer_head img{
    width: 100px;
}

#footer_main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_main span{
    margin: 0 20px;
}

#f_color{
    background-image: url(./img/페이스북\ 아이콘.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transition: all 1s;
    
}

#f_color:hover{
    transition: all 1s;
    background-image: url(./img/페이스북\ 아이콘\ 컬러.jpg);
}


#t_color{
    background-image: url(./img/트위터\ 아이콘.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transition: all 1s;
}

#t_color:hover{
    transition: all 1s;
    background-image: url(./img/트위터\ 아이콘\ 컬러.jpg);
}


#k_color{
    background-image: url(./img/카카오톡\ 아이콘.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transition: all 1s;
}

#k_color:hover{
    transition: all 1s;
    background-image: url(./img/카카오톡\ 아이콘\ 컬러.jpg);
}

#i_color{
    background-image: url(./img/인스타\ 아이콘.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transition: all 1s;
}

#i_color:hover{
    transition: all 1s;
    background-image: url(./img/인스타\ 아이콘\ 컬러.jpg);
}

#y_color{
    background-image: url(./img/유튜브\ 아이콘.jpg);
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    transition: all 1s;
}

#y_color:hover{
    transition: all 1s;
    background-image: url(./img/유튜브\ 아이콘\ 컬러.jpg);
}

#footer_end{
    text-align: center;
    margin-bottom: 20px;
}